.form-wrap {
  width: 60%;
  margin: auto;
}

.form-wrap input:focus {
  box-shadow: none;
}

.form-button {
  border-radius: .2rem !important;
  border-bottom-left-radius: 0  !important;
  border-top-left-radius: 0  !important;
}

.form-button:focus {
  box-shadow: none;
}